[submodule "control/kernel/jsmn"]
	path = control/kernel/jsmn
	url = git@github.com:zserge/jsmn.git
[submodule "targets/nfs-sensor-target/sensor_libraries/scapy-repo"]
	path = targets/nfs-sensor-target/sensor_libraries/scapy-repo
	url = git@github.com:secdev/scapy.git
