[submodule "control/kernel/jsmn"]
	path = control/kernel/jsmn
	url = git@github.com:zserge/jsmn.git
[submodule "targets/nfs-sensor-target/sensor/scapy"]
	path = targets/nfs-sensor-target/sensor/scapy
	url = git@github.com:secdev/scapy.git
	branch = v2.4.0rc5
