<h1 class="page-header">Command and Control Monitor</h1>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <dl class="dl-horizontal" id="messages"></dl>
    </div>
</div>



<script>
    require("web/static/js/socket").default.subscribe_to_c2();
</script>