async-generator==1.8
certifi==2017.11.5
chardet==3.0.4
curequests==0.4.0
curio==0.9
h11==0.7.0
httptools==0.0.9
idna==2.6
kafka-python==1.3.5
multidict==3.3.2
Naked==0.1.31
namedlist==1.7
pycrypto==2.6.1
PyYAML==3.12
repoze.lru==0.7
requests==2.18.4
Routes==2.4.1
shellescape==3.4.1
six==1.11.0
urllib3==1.22
yarl==0.16.0
